@nyp:registry=https://gitlab.yoloassicurazioni.it/api/v4/projects/445/packages/npm/

//gitlab.yoloassicurazioni.it/api/v4/packages/npm/:_authToken=rT63vMxGzSQpsgVVsjdF

//gitlab.yoloassicurazioni.it/api/v4/projects/445/packages/npm/:_authToken=rT63vMxGzSQpsgVVsjdF